<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>[[#{review.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{review.list.headline}]]</h1>
        <div>
            <a th:href="@{/reviews/add}" class="btn btn-primary ms-2">[[#{review.list.createNew}]]</a>
        </div>
    </div>
    <div th:if="${reviews.empty}">
        [[#{review.list.empty}]]
    </div>
    <div th:if="${!reviews.empty}" class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{review.id.label}]]</th>
                <th scope="col">[[#{review.konten.label}]]</th>

                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td>[[${review.id}]]</td>
                <td>[[${review.konten}]]</td>

                <td>
                    <div class="float-end text-nowrap">
                        <a th:href="@{/reviews/edit/{id}(id=${review.id})}" class="btn btn-sm btn-secondary">[[#{review.list.edit}]]</a>
                        <form th:action="@{/reviews/delete/{id}(id=${review.id})}" th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">[[#{review.list.delete}]]</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
